<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
</head>

<body>

<header>
    <h1>Contact Us</h1>
</header>

<nav>
    <a href="index.html">Home</a>
    <a href="about.html">About Tea Plants</a>
    <a href="varieties.html">Tea Varieties</a>
    <a href="contact.html">Contact</a>
</nav>

<div class="container">
    <h2>Please fill the form below</h2>
    <p>If you have any questions, suggestions, or feedback, feel free to contact us using the form below:</p>
    <form action="#" method="post">
        <label for="first name">First Name:</label><br>
        <input type="text" id="first name" name="first name"><br>
        <label for="last name">Last Name:</label><br>
        <input type="text" id="last name" name="last name"><br>
        <p>Gender:
            <label><input type="radio" name="gender" value="male" />Male</label> <label><input type="radio" name="gender" value="female" />Female</label> <label><input type="radio" name="gender" value="other" />Other</label>
        </p>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email"><br>
        <p><label>Date of Birth:<input type="date" name="birthDate"></label></p>
        <label for="address">Address:</label><br>
        <textarea id="address" name="address" cols="30" rows="4"> </textarea>
        <p><label for="message">Message:</label><br>
            <textarea id="message" name="message" rows="4" cols="30"></textarea><br><br></p>
        <input type="submit" value="Submit">
    </form>
</div>

<footer>
    <p>&copy; 2024 Tea Plant Blog</p>
</footer>

</body>

</html>
